@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e7ed;
  --foreground: #343b58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b26;
    --foreground: #a9b1d6;
    --highlight: #ff9e64;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #414868;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #565f89;
    border-radius: 100vh;
    border: 3px solid #414868;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9aa5ce;
  }
}
